<div id="callback">
	{# Button #}
	<a id="callback-show" class="callback-show" data-toggle="modal" data-target="#callback-modal" href="#callback-modal">
		<i class="fa fa-question fa-3x" data-toggle="tooltip" data-placement="left" title="{{ button_callback }}"></i>
	</a>

	{# Modal #}
	{{ view_modal }}

	{# Alerts #}
	{{ view_alert }}
</div>